.table-data {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px; /* 'grid-gap' está obsoleto, ahora solo se usa 'gap' */
  margin-top: 24px;
  width: 100%;
  color: var(--dark);
}
