<section class="html">

  <body [ngClass]="{ dark: dashboardService.isDarkMode() }">
    <!-- SIDEBAR -->
    <app-sidebar />

    <!-- CONTENT -->
    <section id="content" [ngClass]="{ 'sidebar-hidden': dashboardService.isSidebarHidden() }">
      <!-- NAVBAR -->
      <app-navbar />
      <!-- MAIN -->
      <main>
        <!-- HEADER -->
        <app-header />
        <!-- Cards -->
        <app-stats-card />

        <div class="table-data">
          <app-recent-orders />
          <app-todo-list />
        </div>
      </main>
    </section>
    <!-- CONTENT -->

  </body>
</section>
