<section id="sidebar" [ngClass]="{ hide: dashboardService.isSidebarHidden() }">
  <a href="#" class="brand">
    <img src="assets/factus-logo.png" alt="Factus Logo">
    <span class="text">Factus Pinto</span>
  </a>

  <ul class="side-menu top">
    <ng-container *ngFor="let menu of menuItems">
      <!-- Regular menu item (no children) -->
      <li [ngClass]="{ active: dashboardService.activeMenuItem() === menu.id }" *ngIf="!menu.children">
        <a (click)="navigate(menu.id)">
          <i class="bx {{ menu.icon }} bx-sm"></i>
          <span class="text">{{ menu.text }}</span>
        </a>
      </li>
      <!-- Dropdown menu item (with children) -->
      <li class="dropdown"
        [ngClass]="{ active: dashboardService.activeMenuItem() === menu.id, open: openDropdowns.has(menu.id) }"
        *ngIf="menu.children">
        <a class="dropdown-toggle" (click)="toggleDropdown(menu.id); $event.stopPropagation()">
          <i class="bx {{ menu.icon }} bx-sm"></i>
          <span class="text">{{ menu.text }}</span>
          <i class="bx bx-chevron-down" [ngClass]="{ 'rotate-180': openDropdowns.has(menu.id) }"></i>
        </a>
        <ul class="submenu" [ngClass]="{ open: openDropdowns.has(menu.id) }">
          <li *ngFor="let submenu of menu.children" class="submenu-item">
            <a (click)="navigate(submenu.id, submenu.path); $event.stopPropagation()">
              <span class="text">{{ submenu.text }}</span>
            </a>
          </li>
        </ul>
      </li>
    </ng-container>
  </ul>

  <ul class="side-menu bottom">
    <li *ngFor="let menu of bottomMenuItems" [ngClass]="menu.class">
      <a (click)="navigate(menu.id)">
        <i class="bx {{ menu.icon }} bx-sm" [ngClass]="menu.class === 'logout' ? 'bx-burst-hover' : 'bx-spin-hover'"
          (click)="onLogout()"></i>
        <span class="text" (click)="onLogout()">{{ menu.text }}</span>
      </a>
    </li>
  </ul>
</section>
